[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=C&C: Red Alert
Comment=
Exec=cncra
Icon=${SNAP}/meta/gui/cncra.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=RA1MPLauncher.exe,RA95Launcher.exe
Keywords=game
